{
  "name": "{{NAME}}",
  "description": "{{DESCRIPTION}}",
  "version": "{{VERSION}}",
  "author": {
    "name": "{{AUTHOR_NAME}}",
    "email": "{{AUTHOR_EMAIL}}"
  },
  "homepage": "{{HOMEPAGE}}",
  "repository": "{{REPOSITORY}}",
  "license": "{{LICENSE}}",
  "keywords": {{KEYWORDS_JSON_ARRAY}}
}
